body{
	overflow-x: scroll;
	overflow-y: hidden;
}
body div div{
	position: relative;
	float: left;
}
div.keyboard{
	position: absolute;
	width: 1000%;
	height: 70%;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-top: 10%;
}

div#blackKeys div{
	background-color: black;
	height: 50%;
	z-index: 3;
}

div#blackKeys{
	margin-left: 35px;
}

#3Fs{
	margin-left: 70px;
}

body p{
	text-align: center;
	height: 100%;
}

div#controlBox{
	position: fixed;
	width:98%;
	height: 10%;
	margin-bottom: 1%;
	border: none;
}
div.controls{
	border-color: black;
	border-style: solid;
	border-width: 1px;
	width : 24%;
	height : 100%;
	text-align: center;
}
div.key{
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin-right: 2px;
	width: 70px;
	height: 95%;
}
